<html>

<head>
  <title>Modern JS : {{ title }}</title>
</head>

<body>
  <header id="main-header">
    {{#if isHomePage}}
      INF310: Modern JS, Fall 2017
    {{else}}
      <a href="/">INF310: Modern JS, Fall 2017</a>
      {{#if collection}}
        {{#unless isCollectionIndex}}
          > <a href="../">{{collection}}</a>
        {{/unless}}
      {{/if}}
      > {{title}}
    {{/if}}
  </header>
  <div class="reveal">
    <div class="slides">
      <section>
        <h5 class="inline-h">
          {{#if isHomePage}}
            INF310: Modern JS
          {{else}}
            {{title}}
          {{/if}}
        </h5>
