#main-header {
  font-size: 2em;
  color: white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#back-link, #back-link:hover {
  float:right;
  font-size: 1em;
  color: inherit;
  text-decoration: none;
}

.reveal ul {
  list-style: none !important;
}

.reveal code {
  max-height: 100% !important;
}
