#main-header {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.75em;
  color: white;
}

#main-header a, #main-header a:hover, #main-header a:visited {
  color: inherit;
}

#back-link {
  visibility: hidden;
  float: right;
}

.reveal ul {
  list-style: none !important;
}

.reveal code {
  max-height: 100% !important;
}
